a {
    border: 1px solid grey;
    padding: 4px 8px;
    display: inline-block;
    background-color: rgb(101, 224, 224);
  }
  a:link{
color: darkgray;
  }
  a:visited{
    color:green
  }
  a:hover{
    color: rgb(249, 251, 245);
    background-color: rgba(248, 26, 71, 0.942);
}
a:active{
color: rgb(255, 0, 8);
background-color: rgb(28, 13, 245);
}
